/* Site content */

// General
.site-content { 
    padding-top: 100px;
    padding-bottom: 50px;
}

.btn-1 {
  min-width: 223px;
  padding: 10px;
  color: $c_white;
  background-color: $c_ad_1;
  overflow: hidden;
  text-decoration: none;
  text-transform: uppercase;
  @extend .h5;
}

.btn-1:focus,
.btn-1:hover,
.btn-1:active {
  color: #fff;
  background-color: $c_accent;
}

.lightslider-item,
.custom-item {
  width: 500px;
  height: 500px;
  background-image: url(../img/test-image.jpg);
}